<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cnc.hx"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".VideoConversationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleInstance"
            >
        </activity>
        
        <activity 
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:name=".WiFiDirectActivity"
            android:label="@string/title_activity_main">
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".OptionsActivity"
            android:label="@string/title_activity_main">
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:name=".ServerActivity"
            android:label="@string/title_activity_main">
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".ClientActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_main">
        </activity>
        <!-- Used for transferring files  after a successful connection -->
        <!-- service android:enabled="true" android:name=".utils.MessageTransferService" / -->
        <!-- service android:enabled="true" android:name=".utils.FileTransferService" / -->
        <!-- service android:enabled="true" android:name=".utils.VoiceTransferService" / -->
        
    </application>

</manifest>